@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,500,700|Raleway:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,500,700,i|Bitstream+Vera+Sans+Mono:400,500,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply grid grid-flow-row auto-rows-max;
}

#site-header {
  @apply inset-x-0 fixed z-50;
  height: 36px;
  background-color: #4f4f4f;
  border-bottom: 3px solid orange;
}
#site-header div {
  @apply container mx-auto md:rounded-b-lg;
  height: 45px;
  box-shadow: 2px 2px 7px orange;
  background-color: inherit;
  max-width: calc(900px - (1.2rem * 2));
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
#site-header div > a {
  @apply float-left;
  @apply text-xl md:text-2xl lg:text-5xl;
  text-shadow: 1px 1px 9px #000;
  line-height: 36px;
  color: #cfcfcf;
}
#site-header div nav {
  @apply float-right;
}
#site-header div nav a {
  @apply text-xs md:text-2xl;
  color: #cfcfcf;
  line-height: 36px;
  font-weight: 800;
  text-shadow: 1px 2px 3px #000;
}
#site-header div nav a:not(:first-child) {
  margin-left: 20px;
}

#main-wrapper {
  @apply overflow-y-scroll;
  margin-top: calc(36px + 1rem);
  padding-bottom: calc(36px + 1rem);
}

#site-footer {
  @apply fixed bottom-0 left-0 right-0;
  background-color: #f9f9f9;
  width: 100%;
  height: 36px;
  bottom: 0;
  border-top: 1px solid #cfcfcf;
  padding: 0 10px 0 10px;
}
#site-footer .social-media-list {
  list-style: none;
}
#site-footer .social-media-list .social-media-item {
  padding: 0 5px 0 5px;
}
#site-footer .social-media-list .social-media-item:nth-child(even) {
  border-left: 1px solid;
}

.author {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Rajdhani", san-serif, cursive;
}

.svg-social-icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.svg-social-icon > svg path {
  fill: #828282;
}

.video-embed iframe {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.video-embed p {
  text-align: center;
}

ul.notes-list li.notes, ul.notes-list li.posts, ul.posts-list li.notes, ul.posts-list li.posts, ul.list li.notes, ul.list li.posts {
  @apply relative;
  margin-top: 2rem;
  padding: 0 0 0 1rem;
  border: 1px solid #eee;
  border-radius: 5px 5px 5px 5px;
  background-color: whitesmoke;
}
ul.notes-list li.notes:not(:first-child), ul.notes-list li.posts:not(:first-child), ul.posts-list li.notes:not(:first-child), ul.posts-list li.posts:not(:first-child), ul.list li.notes:not(:first-child), ul.list li.posts:not(:first-child) {
  margin-top: 3rem;
}
ul.notes-list li.notes:hover, ul.notes-list li.posts:hover, ul.posts-list li.notes:hover, ul.posts-list li.posts:hover, ul.list li.notes:hover, ul.list li.posts:hover {
  background-color: #ffffeb;
  border: 1px solid white;
}
ul.notes-list li.notes:hover article div.title, ul.notes-list li.posts:hover article div.title, ul.posts-list li.notes:hover article div.title, ul.posts-list li.posts:hover article div.title, ul.list li.notes:hover article div.title, ul.list li.posts:hover article div.title {
  color: #1a1a1a;
  text-decoration: underline;
  text-decoration-color: orange;
}
ul.notes-list li.notes article, ul.notes-list li.posts article, ul.posts-list li.notes article, ul.posts-list li.posts article, ul.list li.notes article, ul.list li.posts article {
  margin-top: 2.5rem;
  padding: 0 0.5rem 0.2rem 0;
}
ul.notes-list li.notes article div.title, ul.notes-list li.posts article div.title, ul.posts-list li.notes article div.title, ul.posts-list li.posts article div.title, ul.list li.notes article div.title, ul.list li.posts article div.title {
  font-size: 1.65rem;
  text-shadow: 2px 2px 4px #bbb;
  font-weight: 500;
  color: darkblue;
}
ul.notes-list li.notes article div.summary, ul.notes-list li.posts article div.summary, ul.posts-list li.notes article div.summary, ul.posts-list li.posts article div.summary, ul.list li.notes article div.summary, ul.list li.posts article div.summary {
  max-width: 90%;
  font-size: 1rem;
  line-height: 1.4em;
  margin: 0.8em 0 0.4rem 0;
}
ul.notes-list li.notes article div.tags > a, ul.notes-list li.posts article div.tags > a, ul.posts-list li.notes article div.tags > a, ul.posts-list li.posts article div.tags > a, ul.list li.notes article div.tags > a, ul.list li.posts article div.tags > a {
  @apply float-right relative;
  font-size: 16px;
  background-color: #dcb;
  margin: 0 0.4rem 0 0;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.2rem;
}

div.content.posts article > header {
  margin-bottom: 3rem;
}
div.content.posts article > header h1 {
  min-width: 70%;
  max-width: 100%;
  padding: 20px 10px 15px 10px;
  font-weight: 600;
  box-shadow: 1px 2px 3px #999;
  background-image: -webkit-linear-gradient(to right, lightyellow, rgba(220, 220, 220, 0.5), lightyellow);
  background-image: linear-gradient(to right, lightyellow, rgba(220, 220, 220, 0.5), lightyellow);
  background-color: #fefefe;
}
div.content.posts article > header div.meta time {
  margin-right: 15px;
  padding: 0 5px 0 5px;
  font-size: 1rem;
  box-shadow: 1px 1px 1px #666;
  background-color: #efe9e2;
}
div.content.posts article > summary {
  padding: 1em 1em;
  border-left: none;
  display: block;
  max-width: 100%;
  font-weight: 500;
  font-style: italic;
  font-size: 1.2rem;
  background-image: -webkit-linear-gradient(to right, lightyellow, rgba(220, 220, 220, 0.5), lightyellow);
  background-image: linear-gradient(to right, lightyellow, rgba(220, 220, 220, 0.5), lightyellow);
  background-color: #ffffff;
  background-color: #f2f2f2;
  margin-bottom: 2rem;
}
div.content.posts article main {
  font-size: 1.2rem;
  background-color: #fffffa;
  margin-bottom: 1.2rem;
  padding-left: 25px;
  padding-right: 15px;
}
div.content.posts article main h1, div.content.posts article main h2, div.content.posts article main h3 {
  min-width: 70%;
  max-width: 100%;
}
div.content.posts article main div pre {
  overflow-x: scroll;
  width: 900px;
  transition: width 0.25s ease-in-out;
  margin-bottom: 1.5em;
}
div.content.posts article main div pre:hover {
  width: 1200px;
  transition: width 0.25s ease-in-out;
}
div.content.posts article main div pre code {
  border: 1px solid #aaa;
  background-color: inherit;
  font-size: 1.2rem;
  padding: 0 10px 10px 0;
  overflow-x: scroll;
  line-height: 1.6rem;
  margin: 0.5em 0.5em 0.5em 0.5em;
  max-width: 100%;
}
div.content.posts article main div pre code.language-plaintext:before {
  content: "=> ";
}
div.content.posts article main div + pre.example {
  font-family: "Bitstream Vera Sans Mono", Consolas, monospace;
  margin: 1em 0 1em 0;
  border-left: 1px solid #999;
  padding-left: 1.5em;
  background-color: #eee;
  width: 900px;
}
div.content.posts article main div + pre.example:hover {
  width: 1100px;
  transition: width 0.3s ease-in-out;
}
div.content.posts article main table {
  margin: auto;
  width: auto;
}
div.content.posts article main table thead tr th {
  min-width: 150px;
  border-bottom: solid 1px #444;
}
div.content.posts article main table tbody tr td, div.content.posts article main table tbody tr th {
  padding-left: 1em;
  padding-right: 1em;
}
div.content.posts article main table tbody tr td:first-child {
  font-weight: bold;
}
div.content.posts article main blockquote.description {
  padding-top: 15px;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: italic;
}
div.content.posts article main blockquote.description > :last-child {
  margin-bottom: 0;
}
div.content.posts article main li > ul,
div.content.posts article main li > ol {
  margin-bottom: 0;
}
div.content.posts article main a {
  text-decoration: none;
}
div.content.posts article main a:visited {
  color: #0c2d37;
}
div.content.posts article main a:hover {
  text-decoration: underline;
}
div.content.posts article main em {
  display: inline-block;
  font-weight: 400;
}
div.content.posts article main .verse-block {
  display: inline-block;
  font-weight: 500;
  font-size: 1.2em;
}
div.content.posts article main code.verbatim {
  background-color: #ffffb8;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif, "Raleway";
  font-weight: lighter;
  letter-spacing: normal;
  border: none;
}
div.content.posts article main > p {
  line-height: 1.8em;
}
div.content.posts article main > p code {
  font-weight: 600;
  padding: 0 2px 0 2px;
}
div.content.posts article main aside {
  font-size: 0.7em;
  background-color: #eee;
  padding-left: 15px;
  padding-right: 15px;
}

div.content.notes {
  @apply h-screen flex grid grid-cols-12 gap-12 relative;
}
div.content.notes a {
  color: #4d717d;
  text-decoration: underline;
}
div.content.notes div.toc {
  @apply hidden md:block md:col-span-4 lg:col-span-3 float-left inset-y-0;
  background-color: #fafaf9;
  font-size: 1.2rem;
  padding-top: calc(36px + 1rem);
  padding-right: 1rem;
}
div.content.notes div.toc #TableOfContents > ul {
  margin-left: 15px;
  list-style: none;
  font-weight: 500;
}
div.content.notes div.toc #TableOfContents > ul > li {
  margin-bottom: 0.5rem;
}
div.content.notes div.toc #TableOfContents > ul > li > ul {
  font-size: 70%;
  font-weight: 400;
}
div.content.notes div.toc #TableOfContents > ul > li > ul > li > ul {
  display: none;
}
div.content.notes article {
  @apply col-span-12 md:col-span-8 pl-4 pr-4 overflow-hidden overflow-y-scroll;
}
div.content.notes article > header h1 {
  font-size: 2.5rem;
  background-image: -webkit-linear-gradient(to right, lightyellow, rgba(220, 220, 220, 0.5), lightyellow);
  background-image: linear-gradient(to right, lightyellow, rgba(220, 220, 220, 0.5), lightyellow);
  background-color: #939393;
}
div.content.notes article > header .meta {
  @apply relative;
}
div.content.notes article > header .meta div.time {
  @apply absolute right-0;
  display: inline-block;
  font-size: 0.9rem;
}
div.content.notes article > header .meta div.time time {
  @apply ml-6 mt-1 px-3;
  display: inline-block;
  box-shadow: 0 1px 2px orange;
}
div.content.notes article > summary {
  @apply mt-3 mb-5 px-5 shadow-md bg-amber-100;
  display: block;
  font-weight: 300;
  font-style: italic;
  font-size: 1.1rem;
}
div.content.notes article > main {
  @apply py-3;
  font-size: 1.32rem;
}
div.content.notes article > main span.tags {
  font-size: 1.2rem;
  @apply float-right;
  color: darkred;
  border: 1px solid #cfcfcf;
  padding: 2px 5px 2px 5px;
  border-radius: 2px;
}
div.content.notes article > main span.todo {
  color: red;
  font-weight: 500;
}
div.content.notes article > main div.comment-block {
  margin: 1em 6em 0 3em;
  background-color: #ffffe6;
  font-style: italic;
  font-family: "Rajdhani", san-serif, cursive;
  font-weight: 500;
  padding: 0 15px 0 25px;
}
div.content.notes article > main div.center-block > p {
  font-weight: 500;
}
div.content.notes article > main .outline-2 {
  margin-top: 2rem;
}
div.content.notes article > main h2 {
  @apply sticky top-0;
  background-image: -webkit-linear-gradient(to right, #f5faff, rgba(220, 220, 220, 0.5), #f5faff);
  background-image: linear-gradient(to right, #f5faff, rgba(220, 220, 220, 0.5), #f5faff);
  background-color: #fefefe;
  background-color: white;
  padding-top: 0.5rem;
  text-shadow: 3px 3px 10px #aaa;
  text-decoration: underline;
  text-decoration-color: #d8d8d8;
  font-size: 1.8rem;
}
div.content.notes article > main h2 > p {
  margin-top: 1rem;
}
@media screen and (max-width: 39.99875em) {
  div.content.notes article > main h2 {
    padding-top: 25px;
  }
}
div.content.notes article > main h3 {
  background-color: white;
  padding-top: 18px;
  text-decoration: underline;
  text-decoration-color: #f8a8d8;
  text-shadow: 2px 2px 7px #aaa;
}
div.content.notes article > main h4 {
  text-decoration: underline;
  text-decoration-color: #08a8d8;
}
div.content.notes article > main li > p {
  margin-top: 0;
  margin-bottom: 0;
  color: #4f4f4f;
}
div.content.notes article > main p {
  margin-top: 0.6rem;
  color: #4f4f4f;
}
div.content.notes article > main table {
  margin: auto;
  width: auto;
}
div.content.notes article > main table thead tr th {
  border-bottom: solid 1px #444;
}
div.content.notes article > main table tbody tr td, div.content.notes article > main table tbody tr th {
  padding-left: 1em;
  padding-right: 1em;
}
div.content.notes article > main table tbody tr td:first-child {
  font-weight: bold;
}
div.content.notes article > main img {
  max-width: 90%;
  margin: 1em 0 0 1em;
}
div.content.notes article > main dl dt {
  background-color: lightyellow;
  font-weight: 800;
  display: block;
}
div.content.notes article > main dl dd {
  @apply ml-6 mt-0 mb-6;
}
div.content.notes article > main li.unchecked:before {
  content: "[_] ";
}
div.content.notes article > main li.unchecked p {
  display: inline-block;
}
div.content.notes article > main p {
  margin-top: 2rem;
}
div.content.notes article > main li > p {
  margin-bottom: 0;
}
div.content.notes article > main div pre {
  overflow-x: scroll;
  width: 900px;
  transition: width 0.25s ease-in-out;
  margin-bottom: 1.5em;
}
div.content.notes article > main div pre:hover {
  width: 1200px;
  transition: width 0.25s ease-in-out;
}
div.content.notes article > main div pre code {
  border: 1px solid #aaa;
  font-family: "Bitstream Vera Sans Mono", Consolas, monospace;
  background-color: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  overflow-x: scroll;
  line-height: 1.6rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  max-width: 100%;
  display: block;
}
div.content.notes article > main div pre code.language-text, div.content.notes article > main div pre code.language-plaintext {
  border-left: 1px solid #999;
  font-family: "Bitstream Vera Sans Mono", Consolas, monospace;
  padding-left: 1.5em;
  width: 900px;
  max-height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  background-color: lightgray;
  color: black;
  font-weight: bolder;
}
div.content.notes article > main div pre code.language-text:hover, div.content.notes article > main div pre code.language-plaintext:hover {
  width: 1100px;
  transition: width 0.3s ease-in-out;
}
div.content.notes article > main div + pre.example {
  font-family: "Bitstream Vera Sans Mono", Consolas, monospace;
  border-left: 1px solid #999;
  padding: 1rem 0 1rem 1.5rem;
  background-color: #eee;
  width: 900px;
  max-height: 20em;
  overflow-y: scroll;
  margin: 1em 0 1.5em;
}
div.content.notes article > main div + pre.example:hover {
  width: 1100px;
  transition: width 0.3s ease-in-out;
}

.date-as-calendar {
  position: absolute;
  top: -1.2rem;
  right: 0;
  vertical-align: top;
  background: white;
  background: linear-gradient(to bottom right, #FFF 0%, #EEE 100%);
  border: 1px solid #333;
  border-radius: 0 0.8rem 0 0;
  overflow: hidden;
  text-align: center;
  line-height: 1;
}
.date-as-calendar .year {
  background: #B11;
  background: linear-gradient(to bottom right, #D66 0%, #A00 100%);
  color: white;
}
.date-as-calendar .month {
  text-transform: uppercase;
  font-weight: 600;
}

.inline-flex {
  box-shadow: 2px 2px 2px -2px black;
  flex-direction: column;
  width: 4em;
  height: 4em;
}
.inline-flex .weekday,
.inline-flex .day,
.inline-flex .month,
.inline-flex .year {
  flex: 1 1 auto;
  margin-bottom: 3px;
}
.inline-flex .year {
  order: 1;
  font-size: 1em;
}
.inline-flex .month {
  order: 2;
  font-size: 0.75em;
}
.inline-flex .weekday {
  order: 3;
  font-size: 0.75em;
}
.inline-flex .day {
  order: 4;
  font-size: 0.925em;
}
